<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>

    <form method="POST" action="/team">
        <p><label for="team[name]">Team Name:</label>
        <input type="text" name="team[name]" placeholder="Team Name"></p>
        <p><label for="team[motto]">Team Motto:</label>
        <input type="text" name="team[motto]" placeholder="Team Motto"></p>

        <h2>Hero 1</h2>
        <p><label for="team[member][][name]">Hero's Name:</label>
        <input type="text" id="member1_name" name="team[member][][name]"></p>
        <p><label for="team[member][][power]">Hero's Power:</label>
        <input type="text" id="member1_power" name="team[member][][power]"></p>
        <p><label for="team[member][][bio]">Hero's Biography:</label>
        <input type="text" id="member1_bio" name="team[member][][bio]"></p>

        <h2>Hero 2</h2>
        <p><label for="team[member][][name]">Hero's Name:</label>
        <input type="text" id="member2_name" name="team[member][][name]"></p>
        <p><label for="team[member][][power]">Hero's Power:</label>
        <input type="text" id="member2_power" name="team[member][][power]"></p>
        <p><label for="team[member][][bio]">Hero's Biography:</label>
        <input type="text" id="member2_bio" name="team[member][][bio]"></p>

        <h2>Hero 3</h2>
        <p><label for="team[member][][name]">Hero's Name:</label>
        <input type="text" id="member3_name" name="team[member][][name]"></p>
        <p><label for="team[member][][power]">Hero's Power:</label>
        <input type="text" id="member3_power" name="team[member][][power]"></p>
        <p><label for="team[member][][bio]">Hero's Biography:</label>
        <input type="text" id="member3_bio" name="team[member][][bio]"></p>

        <input type="submit" id="submit" value="Submit">

    </form>


  </body>
</html>
